





body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #111;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-region {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    font-size: medium;
    font-weight: 500;

}


.search input, .search select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
}

#country-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.country-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.country-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.dark-mode {
    background-color: #1e1e1e;
    color: #fff;
}

.dark-mode .country-card {
    background-color: #2e2e2e;
}

.dark-mode input, .dark-mode select {
    background-color: #444;
    color: #fff;
}



